@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-text {
  background: -webkit-linear-gradient(right, #5fceb3, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}